#include "buildcache_version.h"

#define VERSION_BINARY BUILDCACHE_VERSION_MAJOR,BUILDCACHE_VERSION_MINOR,BUILDCACHE_VERSION_PATCH,0

#ifndef _DEBUG
#define VER_DEBUG 0x00000000L
#else
#define VER_DEBUG 0x00000001L
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VERSION_BINARY
PRODUCTVERSION  VERSION_BINARY
FILEFLAGSMASK   0x0000003FL // VS_FFI_FILEFLAGSMASK
FILEFLAGS       VER_DEBUG
FILEOS          0x00000000L // VOS_UNKNOWN
FILETYPE        0x00000001L // VFT_APP
FILESUBTYPE     0x00000000L // VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      ""
            VALUE "FileDescription",  "BuildCache build acceleration tool"
            VALUE "FileVersion",      BUILDCACHE_VERSION_STRING
            VALUE "InternalName",     "buildcache"
            VALUE "LegalCopyright",   BUILDCACHE_COPYRIGHT_STRING
            VALUE "OriginalFilename", "buildcache.exe"
            VALUE "ProductName",      "BuildCache"
            VALUE "ProductVersion",   BUILDCACHE_VERSION_STRING
        END
    END
END

